<div class="container">
  <h2 class="text-center" id="signup-h2">Sign up to our newsletter:</h2>
  <div class="col-md-4 col-md-offset-4">
    <form name="signupForm" novalidate>
      <div class="form-group">
          <label for="first-name">First Name</label>
          <input name="first-name" type="text" ng-model="suCtrl.firstName"
          placeholder="John" required
          class="form-control">
          <span ng-if="signupForm.first-name.$error.required && signupForm.first-name.$touched">
            First Name required
          </span>
      </div>
      <div class="form-group">
          <label for="last-name">Last Name</label>
          <input name="last-name" type="text" ng-model="suCtrl.lastName"
          placeholder="Smith" required
          class="form-control">
          <span ng-if="signupForm.last-name.$error.required && signupForm.last-name.$touched">
            Last Name required
          </span>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="email" ng-model="suCtrl.email"
          placeholder="example@domain.com" required
          class="form-control">
          <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
      </div>
      <div class="form-group">
          <label for="number">Phone Number</label>
          <input name="number" type="tel" ng-model="suCtrl.phoneNumber"
          placeholder="###-###-####" required pattern="(\d{3})-(\d{3})-(\d{4})"
          class="form-control">
          <span ng-if="signupForm.number.$invalid && signupForm.number.$touched">
            Phone must be in the format ###-###-####.
          </span>
      </div>
      <div class="form-group">
        <label for="favorite">Menu Number of Favorite Dish</label>
        <input name="favorite" type="text" ng-model="suCtrl.favorite"
        placeholder="e.g. A1" class="form-control" required>
        <span ng-show="signupForm.favorite.$touched && suCtrl.favValid()===false">No such menu number exists.</span>
      </div>
      <div class="form-group" id="submit-div">
          <button type="button" name="submit" ng-click="suCtrl.signup();" ng-disabled="signupForm.$invalid">Submit</button>
      </div>
      <span ng-show="suCtrl.submitted">Your information has been saved.</span>
    </form>
  </div>

</div>
